body{
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 150%;
}

header{
    background-color: lightblue;
}

nav{
    background-color: paleturquoise;
}

main{
    background-color: blanchedalmond;
    font-size: 120%;
}

footer{
    background-color: rgb(255, 205, 112);
    font-size: 90%;
}

li{
    display: inline-block;
    width: 30%;
    text-align: center;
    line-height: 50px;
}

h1{
    text-align: left;
    font-family: cursive, Arial, Helvetica, sans-serif;
    color: black;
}

p{
    line-height: 120%;
}

div img{
    display: inline-block;
    width: 200px;
    height: 200px;
}
